.heading {
	background-color: darkgrey;
}

.userprofile{
	float: right;
    position: relative;
    bottom: 30px;
}

.weather-container {
	text-align: center;
	font-weight: bold;
	width:500px;
	height: 200px;
	background-color: blue;
}

.float-weather-container {
	text-align: center;
	font-weight: bold;
	float:right;
	width:500px;
	height: 200px;
	bottom:200px;
	position: relative;
	background-color: blue;
}

.flight-data-window {
	
}