
.list-group{

	background-color: transparent; 
	list-style-type:none;
}

.weatherAPIBlock{

	height: 270px;
	}


.mooredButton{

	background-color: #d23e3e
}

.aloftButton{
	background-color: 
	#b1c738;
}

	.weather-input{
		 width:230px;
		  background-color:transparent;
	}